# Docs: https://git-scm.com/docs/git-config
[alias]
    a = add
    b = branch
    c = commit
    co = checkout
    cp = cherry-pick
    d = diff
    f = fetch
    l = log --oneline --graph --all
    m = merge
    p = push
    r = rebase
    s = status
    st = stash
    u = restore --staged
    w = switch

[advice]
    detachedHead = false
    statusHints = false

[branch]
    autoSetupMerge = inherit
    sort = -committerdate

[column]
    ui = auto

[commit]
    verbose = true

[core]
    autocrlf = input
    editor = nvim
    pager = delta --paging=never

[delta]
    pager = cat
    line-numbers = true
    side-by-side = true

# Colours only. Fetched from github.com/fmind/theme by .chezmoiexternal.toml.tmpl,
# and included after [delta] so the theme owns syntax-theme and the diff styles
# while the block above keeps the behaviour settings.
[include]
    path = {{ joinPath .chezmoi.homeDir ".config/git/theme.gitconfig" | quote }}

[diff]
    algorithm = histogram
    colorMoved = zebra
    colorMovedWS = allow-indentation-change
    mnemonicPrefix = true

[fetch]
    all = true
    parallel = 0
    prune = true

[github]
    user = {{ .github_user | quote }}

[help]
    autocorrect = prompt

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only --paging=never

[merge]
    conflictstyle = zdiff3

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = current
    followTags = true

[rebase]
    autoSquash = true
    autoStash = true
    instructionFormat = "[%an @ %ar] %s"
    missingCommitsCheck = warn
    updateRefs = true

[rerere]
    autoupdate = true
    enabled = true

[tag]
    sort = version:refname

[transfer]
    fsckobjects = true

[url "git@github.com:"]
    pushInsteadOf = "https://github.com/"

[user]
    name = {{ .git_name | quote }}
    email = {{ .git_email | quote }}

# Source: https://github.com/fmind/theme/blob/main/themes/git/fmind.gitconfig
# Quote hex colors: Git treats unquoted # characters as comments.
[color "diff"]
    meta = "#595d62"
    frag = "#174ea6"
    context = "#202124"
    old = "#a50e0e"
    new = "#0d652d"
    whitespace = "#ea4335 #fad2cf"
[color "status"]
    header = "#595d62"
    added = "#0d652d"
    changed = "#934900"
    untracked = "#174ea6"
    branch = "#174ea6"
    nobranch = "#a50e0e"
[color "branch"]
    current = "#174ea6"
    local = "#202124"
    remote = "#0d652d"
[color "decorate"]
    branch = "#174ea6"
    remoteBranch = "#0d652d"
    tag = "#934900"
    stash = "#595d62"
    HEAD = "#681da8"
