{{- $dot := includeTemplate "dot-bin.tmpl" . -}}
{
  "notify": {
    "Stop": [
      {
        "type": "command",
        "command": "{{ $dot }} agent hook notify agy stop",
        "timeout": 30
      }
    ]
  }
}
