# Docs: https://github.com/BurntSushi/ripgrep/blob/master/GUIDE.md#configuration-file

# Share fd's global ignore list; keep only ripgrep-specific exclusions here.
--ignore-file={{ joinPath .chezmoi.homeDir ".config/fd/ignore" }}
--glob=!.git/
--glob=!package-lock.json
--hidden
--smart-case

# Source: https://github.com/fmind/theme/blob/main/themes/ripgrep/fmind.ripgreprc
--colors=path:fg:23,78,166
--colors=path:style:bold
--colors=line:fg:89,93,98
--colors=column:fg:89,93,98
--colors=match:fg:32,33,36
--colors=match:bg:254,239,195
--colors=match:style:bold
