# Docs: https://docs.docker.com/build/building/context/#dockerignore-files

**/.agents
**/.cache
**/.git
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.ty_cache
**/.venv
**/__pycache__
**/*.py[co]
**/*.db
**/*.log
**/.coverage*
.python-version
**/build
**/dist
**/htmlcov
tmp
**/.env*
!**/.env.example
