{
  "allowNonWorkspaceAccess": true,
  "artifactReviewPolicy": "always-proceed",
  "colorScheme": "tokyo night",
  "editorMode": "vim",
{{- $gcp_project := env "ANTIGRAVITY_CLOUD_PROJECT" -}}
{{- if $gcp_project }}
  "gcp": {
    "project": "{{ $gcp_project }}",
    "location": "{{ env "ANTIGRAVITY_CLOUD_LOCATION" | default "global" }}"
  },
{{- end }}
  "model": "Gemini 3.8 Flash (High)",
  "notifications": true,
  "pickerGrouping": "grouped",
  "runningLightSpeed": "fast",
  "showFeedbackSurvey": false,
  "toolPermission": "always-proceed",
  "trustedWorkspaces": [
    "{{ .chezmoi.homeDir }}",
    "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
  ],
  "vimInsertFirst": true
}
