{{- $dot := includeTemplate "dot-bin.tmpl" . -}}
{
  "version": 1,
  "hooks": {
    "agentStop": [
      {
        "type": "command",
        "bash": "{{ $dot }} agent hook notify copilot stop",
        "timeoutSec": 30
      }
    ]
  }
}
